body
    margin: 0
h2
    font-size: 27px

h3
    font-size: 22px

p,
a
    font-size: 15px
    line-height: 20px

\:root
    --el-menu-bg-color: #1d222d
    --el-menu-item-active-bg-color: var(--el-color-primary)
    --el-menu-text-color: #c1c6c8
    --el-menu-hover-bg-color: #262f3e
